div #blank {
  font-size: large;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  grid-gap: 10px;
  width: 82%;
  margin: 0 auto;
  border-radius: 3px;
  border: 1px solid grey;
  background-color: lightgrey;
  height: 60px;
  padding-left: 15px;
}
